  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #031320;
    color: white;
    padding: 0.625rem 1.25rem;
    height: 3.75rem;
  }

  main {
    background-color: #182E3D;
  }

  .card {
    background-color: #0C2131;
  }

  .container {
    max-width: 75rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: 12.5rem;
    height: 25rem;
    text-align: center;
    color: white;
  } 

  .card .img {
    width: 6.25rem;
    height: 6.25rem;
  }